
.row__poster{
 width:100%;
 object-fit:contain;
 max-height: 150px;
 margin-right: 10px;
 transition: transform 450ms;

}
.row__posters{
 display: flex;
 overflow-y: hidden;
 overflow-x: scroll;
 padding: 20px;
 padding-bottom: 0;
}

.row__posters::-webkit-scrollbar{
 display: none;
}

.row__poster:hover{
 transform: scale(1.08); 
}

.row__posterLarge{
 max-height: 250px; 
}
.row__posterLarge:hover{
 transform: scale(1.09);
}
.row{
 margin-left: 20px;
 color: white;
}
.row p{
    font-size: 45px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
.row__poster{
 object-fit:contain;
 max-height: 90px;
 margin-right: 10px;

}
.row__posterLarge{
 max-height: 190px; 
}
.row p{
    font-size: 20px;
}
}